@model Advance
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        @Model.Description
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
