@model CompanyManagerUpdateDto
@{
    ViewData["Title"] = "Update Employee Informations";
    string myLogoSrc;
    if (Model.ProfilePhoto == null)
    {
        myLogoSrc = "~/Content/assets/images/noCompanyLogo.png";
    }
    else
    {
        myLogoSrc = Convert.ToBase64String(Model.ProfilePhoto);
    }
}

@functions {
    public string FormatliTelefonNumarasi(string telefonNumarasi)
    {
        if (telefonNumarasi.Length != 10)
        {
            // Telefon numarası 10 haneli olmalıdır. İsteğe göre hata kontrolü yapabilirsiniz.
            return telefonNumarasi;
        }



        return string.Format("({0}) {1} {2} {3}",
        telefonNumarasi.Substring(0, 3),
        telefonNumarasi.Substring(3, 3),
        telefonNumarasi.Substring(6, 2),
        telefonNumarasi.Substring(8, 2));
    }
}
<hr />
<div class="row">
    <form asp-action="UpdateEmployee" asp-controller="CM" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ProfilePhoto" class="control-label"></label>
                    <div id="logoPreview">
                        <div class="form-group">
                            @{
                                if (Model.ProfilePhoto == null)
                                {
                                    if(Model.Gender == "Male")
                                    {
                                        <img src="~/Content/assets/images/faces/default.jpg" alt="Profile Photo" style="width: 200px; height: 200px; object-fit:cover;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/assets/images/faces/defaultwomen.jpg" alt="Profile Photo" style="width: 200px; height: 200px; object-fit:cover;" />
                                    }

                                }
                                else
                                {
                                    string base64String = Convert.ToBase64String(Model.ProfilePhoto);
                                    if (base64String == "")
                                    {
                                        <img src="~/Content/assets/images/faces/default.jpg" alt="Profile Photo" style="width: 200px; height: 200px; object-fit:cover;" />
                                    }
                                    else
                                    {
                                        <img src="data:image/jpeg;base64,@(base64String)" alt="Profile Photo" style="width: 200px; height: 200px; object-fit:cover;" />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePhoto" class="control-label">Select New Photo</label>
                    @*<input asp-for="Logo" name="photo" class="form-control" />*@
                    <input type="file" name="photo" accept=".jpg, .jpeg, .png" onchange="previewLogo(this)" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Id" class="control-label" hidden></label>
                    <input asp-for="Id" class="form-control" hidden />
                    <span asp-validation-for="Id" class="text-danger" hidden></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContractEndDate" class="control-label" required>Contract End Date</label>
                    <input asp-for="ContractEndDate" class="form-control" />
                    <span asp-validation-for="ContractEndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="@FormatliTelefonNumarasi(Model.PhoneNumber)" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wage" class="control-label">Wage (TL)</label>
                    <input type="number" asp-for="Wage" class="form-control" />
                    <span asp-validation-for="Wage" class="text-danger"></span>
                </div>
            </div>
            @* <div class="col-md-3">


            <div class="form-group d-none">
            <label asp-for="Status" class="control-label"></label>
            <input type="hidden" asp-for="Status" class="" value="@(Model.Status ? "true" : "false")" />
            </div>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>


<script>
    function previewLogo(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#logoPreview').html('<img src="' + e.target.result + '" alt="Profile Photo" style="width: 200px; height: 200px; object-fit: cover;" />');
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            // Dosya seçilmediği durumda, modeldeki logo kullanılacak
            var modelLogo = '@(Model.ProfilePhoto != null ? Convert.ToBase64String(Model.ProfilePhoto) : null)';
            if (modelLogo == null) {
                $('#logoPreview').html('<img src="~/Content/assets/images/faces/default.jpg" alt="Profile Photo" style="width: 200px; height: 200px; object-fit: cover;" />');
            } else {
                $('#logoPreview').html('<img src="data:image/jpeg;base64,' + modelLogo + '" alt="Profile Photo" style="width: 200px; height: 200px; object-fit: cover;" />');
            }
        }
    }
</script>

